@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
html,
body,
#view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Merriweather", sans-serif;
  color: #423c3c;
}

body {
  background-image: url("../assets/custom-background.jpg");
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
}
.menu .menu-title {
  margin: 2em 0;
  font-weight: 700;
  text-align: center;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 0 1em;
  opacity: 0;
}

.intro {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
}
.intro .front-image {
  box-shadow: 5px 5px 10px #646464;
}
.intro #image-left {
  transform: rotate(-10deg);
}
.intro #image-right {
  transform: rotate(10deg);
}
.intro p {
  line-height: 1.7em;
}
.intro a {
  color: #d54e2f;
  text-decoration: none;
}
.intro a:hover {
  animation: change-color 2s infinite;
}

.opacity-transition {
  transition: opacity 2s linear;
}

.width-transition {
  transition: width 2s;
}

@keyframes change-color {
  0%, 100% {
    color: #d54e2f;
  }
  50% {
    color: #423c3c;
  }
}
button {
  background-color: transparent;
  border: 1px solid #423c3c;
  font-family: "Merriweather", sans-serif;
  font-size: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8em;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #423c3c;
  color: white;
}

.swiper-container {
  display: none;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  background-color: white;
  padding: 20px;
  color: #423c3c;
  border-left: 3px solid #423c3c;
}
.swiper-container .swiper-wrapper {
  padding: 2em 0px;
}
.swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
}
.swiper-container .swiper-wrapper .swiper-slide img {
  max-height: 100%;
}
.swiper-container .swiper-wrapper .title {
  font-weight: bold;
  padding-top: 4px;
}
.swiper-container .swiper-pagination {
  filter: grayscale(1);
}

#callout {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid #423c3c;
}

#marker {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px dashed #423c3c;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1300px) {
  .menu {
    font-size: 1.2em;
  }
  .menu .menu-title {
    margin: 2em 0;
  }

  .intro p {
    margin-top: 4em;
  }
  .intro .front-image {
    max-width: 300px;
  }
  .intro button {
    margin-top: 2em;
  }

  .swiper-container {
    right: 10px;
    max-width: 700px;
    padding: 10px;
  }
}
@media (min-width: 700px) and (max-width: 1300px) {
  .intro p {
    margin-top: 1.5em;
  }
  .intro .front-image {
    max-width: 200px;
  }
  .intro button {
    margin-top: 1em;
  }

  .swiper-container {
    right: 10px;
    max-width: 350px;
    padding: 10px;
  }
  .swiper-container .swiper-slide > * {
    max-width: 320px;
  }

  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 1px;
  }
}
@media (max-width: 700px) {
  .intro p {
    margin-top: 1em;
  }
  .intro .front-image {
    max-width: 150px;
  }
  .intro button {
    margin-top: 0;
  }

  #callout {
    border-left: 3px solid #423c3c;
    border-top: none;
  }

  .swiper-container {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: #423c3c;
    border-left: none;
    border-top: 3px solid #423c3c;
    max-height: 300;
  }
  .swiper-container .swiper-slide > * {
    max-width: 320px;
    max-height: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
